# Ignoring all Unity game builds

Build/
TemplateData/
StreamingAssets/
*.zip

# Ignoring all Godot game builds
index.apple-touch-icon.png
index.audio.worklet.js
index.icon.png
index.js
index.pck
index.png
index.wasm
index.worker.js
